{% extends 'base.html' %}

{% block title%}Home page{% endblock %}

{% block content %}

<!-- Вывод всех вакансий -->
{% for vacancy in vacancy_all %}

<div class="card my-3">
    <h5 class="card-header"><a href="{{vacancy.url}}" target="_blank">{{vacancy.title}}</a></h5>
    <div class="card-body">
        <h4>{{vacancy.company}}</h4>
        <p class="card-text">{{vacancy.description|truncatewords:40}}</p>
        <p class="catd-text"><small>{{vacancy.city.name}} | {{vacancy.specialization.name }} | {{ vacancy.time_stamp }}
        </small></p>  <!-- |date:"d-m-Y" --- Для выводя времени числами, напр.: 04-05-2022 -->

    </div>
</div>

{% empty %}
<h3>К сожалению, по Вашему запросу ничего не найдено.</h3>
{% endfor %}

<!-- Кнопки пагинации -->

{% if vacancy_all %}

<div class="row">
    <div class="col">

        <!--        Стили для пагинатора-->
        <style>
            .pagination-outer {
                text-align: center;
            }

            .pagination {
                font-family: 'Ubuntu', sans-serif;
                display: inline-flex;
                position: relative;
            }

            .pagination li a.page-link {
                color: #111;
                background: transparent;
                font-size: 20px;
                font-weight: 600;
                line-height: 49px;
                height: 50px;
                width: 40px;
                padding: 0;
                margin: 0 6px;
                border: none;
                border-radius: 0;
                overflow: hidden;
                position: relative;
                z-index: 1;
                transition: all 0.5s ease 0.1s;
            }

            .pagination li a.page-link:hover,
            .pagination li a.page-link:focus,
            .pagination li.active a.page-link:hover,
            .pagination li.active a.page-link {
                color: #fff;
                background: #333;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
            }

            .pagination li a.page-link:before,
            .pagination li a.page-link:after {
                content: '';
                height: 100%;
                width: 100%;
                border: 2px solid #333;
                opacity: 1;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                transition: all 0.5s ease 0s;
            }

            .pagination li a.page-link:after {
                background-color: #fff;
                border: none;
                height: 4px;
                width: 50%;
                border-radius: 10px;
                opacity: 0;
                top: auto;
                bottom: 3px;
                left: -50%;
            }

            .pagination li a.page-link:hover:before,
            .pagination li a.page-link:focus:before,
            .pagination li.active a.page-link:hover:before,
            .pagination li.active a.page-link:before {
                opacity: 0;
                left: 7px;
            }

            .pagination li a.page-link:hover:after,
            .pagination li a.page-link:focus:after,
            .pagination li.active a.page-link:hover:after,
            .pagination li.active a.page-link:after {
                opacity: 1;
                left: 3px;
            }

            @media only screen and (max-width: 480px) {
                .pagination {
                    font-size: 0;
                    display: inline-block;
                }

                .pagination li {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 0 22px;
                }
            }
        </style>

        <hr>

        <!--        Пагинатор -->
        <div class="demo">
            <nav class="pagination-outer" aria-label="Page navigation">
                <!--                Первая страница-->
                <ul class="pagination">
                    <li class="page-item">
                        <a href="?city={{city}}&specialization={{specialization}}&page=1" class="page-link"
                           aria-label="Previous">
                            <span aria-hidden="true">F</span>
                        </a>
                    </li>
                    {% if vacancy_all.has_previous %}
                    <li class="page-item">
                        <a href="?city={{city}}&specialization={{specialization}}&page={{vacancy_all.previous_page_number}}"
                           class="page-link"
                           aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page in vacancy_all.paginator.page_range %}
                    <li class="page-item {% if page == vacancy_all.number %} active {% endif %}">
                        <a class="page-link"
                           href="?city={{city}}&specialization={{specialization}}&page={{page}}">
                            {{ page }}</a>
                    </li>
                    {% endfor %}


                    {% if vacancy_all.has_next %}
                    <li class="page-item">
                        <a href="?city={{city}}&specialization={{specialization}}&page={{vacancy_all.next_page_number}}"
                           class="page-link" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                    {% endif %}

                    <!--                    Последняя страница-->
                    <li class="page-item">
                        <a href="?city={{city}}&specialization={{specialization}}&page={{vacancy_all.paginator.num_pages}}"
                           class="page-link"
                           aria-label="Previous">
                            <span aria-hidden="true">L</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>
</div>

{% endif %}

<!-- Форма для поиска -->
<div class="row">
    <div class="col-md-4 mx-auto">
        <form method="GET" action="{% url 'list' %}">

            <div class="form-group">
                {{form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary">Найти!</button>
        </form>
    </div>
</div>

{% endblock %}