{% extends 'base.html' %}

{% block title%}Регистрация{% endblock %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <section class="background-radial-gradient overflow-hidden">

            <style>
                .background-radial-gradient {
                    background-color: #BCBCBC3F;
                }
            </style>

            <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
                    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(0,0%,0%)">
                            Лучший сервис <br/>
                            <span style="color: hsl(0,0%,30%)">для поиска работы</span>
                        </h1>
                        <p class="mb-4 opacity-70" style="color: hsl(0,0%,0%)">
                            WorkS поможет вам найти подходящию вакансию в кротчайшие сроки! Мы собираем актуальные
                            вакансии с разных сервисов в одном месте для вашего удобства.
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                        <div class="card bg-glass" style="background-color: #7F7F7F3F;">
                            <div class="card-body px-4 py-5 px-md-5">
                                <h1>Регистрация успешно завершена</h1>
                                <h3>Вы зарегистрировались в системе. Теперь вы можете <a
                                        href="{% url 'works_accounts:login' %}">войти</a>.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


{% endblock %}